html{
    background-color: black;
    color: white;
    font-size: 62.5%;
}
body {
    margin: 0;
    font-family: 'Poppins';
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
}
nav {
    margin: 4em;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 4.1rem;
    margin: 0;
}
nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
}
.main{
    background: url(/BfemybeKVXCf9pgX9WCxsc\ 1.png);
    background-size: auto;
}
.main h1{
    display: flex;
    justify-content: center;
    font-size: 129.05px;
    margin-bottom: none;
}
.main h2{
    display: flex;
    justify-content: center;
    font-size: 30.11px;
    margin-left: 375px;
    margin-right: 375px;
    font-weight: 500;
    margin-top: none;
}
.main .start_investing{
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 39.38px;
    border-color: white;
}
.form_main{
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 200px;
    margin-right: 200px;
}
.form_main a{
    color: white;
    text-decoration: none;
    font-size: 26px;
    background-color: #1F7AE0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}
.form_main p{
    font-size: 24.36px;
}
.form_main h1{
    font-size: 43px;
}
.form_main .form_buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 26px;
}
.form_main button{
    font-size: 23px;
    margin-right: 30px;
    height: 162px;
    width: 162px;
    border-radius: 20px;
    border-style: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: white;
    background-color: #939393;

}

.form_main .form_active{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.main_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 200px;
}
.main_2 h3{
    font-size: 38px;
    font-weight: bold;
}
.main_2 p{
    font-size: 28px;
}
.main_2 .main_2_img{
    margin-right: 70px;
}
.main_2 .main_2_text{
    margin-left: 70px;
}
.main_3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    background-color: white;
    color: black;
}
.main_3_text h3{
    font-size: 80px;
    font-weight: bold;
}
.main_3 p{
    font-size: 32px;
}
.main_3_text{
    width: 800px;
    margin-right: 25px;
    margin-left: 250px;
    margin-bottom: 100px;
}
.main_3_img{
    margin-left: 25px;
    margin-right: 250px;
    margin-bottom: 100px;
}
.main_4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
}
.main_4_text1 h3{
    font-size: 66px;
}
.main_4_text1 p{
    font-size: 24px;
}
.main_4_text2 p{
    font-size: 22px;
}
.main_4_text1{
    margin-top: 100px;
    margin-right: 30px;
    margin-left: 200px;
    margin-bottom: 100px;
}
.main_4_text2{
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 200px;
    margin-bottom: 100px;
}
.main_5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    background-color: black;
}
.main_5_img{
    margin-right: 30px;
    margin-left: 500px;
    margin-top: 100px;
}
.main_5_text{
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 450px;
}
.main_5_text h3{
    font-size: 56px;
}
.main_5_text button{
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 10px;
    border-style: none;
    background-color: #1F7AE0;
}

